//fonts
$font-base: 'Inter', sans-serif;


//colors
$primary-color: #D19700;
$white: #ffffff;
$black: #000000;


$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

//screen size
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-custom: 1366px;
$screen-xxl: 1440px;
